
    /*
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 75px);
      overflow-y: auto;
    }
    */
 

  .pointer{
    cursor: pointer;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .toolbar {
  background-color: #4d4d4d;
  padding-top: 7px;
  }
  
  .toolbar-button-menu {
  font-size: 20px;
  }
  
  .toolbar-button {
  font-size: 18px;
  }
  

