
<div id="background"> 

    <div class="row">
        <div class="col-3 col-s-3 menu"> 
        </div>

        <div class="col-6 col-s-9" >

  <table>
    <tr>
        <th > <img src="http://localhost:8000/{{user?.thumbnail}}" alt="" class="img-responsive">
        <br>
        
        <form #f="ngForm" (ngSubmit)="onSubmit(f,user?.id)">
          
          <input id="input" type="file" #fileupload [(ngModel)]="thumbnail" name="thumbnail" (change)="fileEvent($event)"/>
          <label for="input" id="label">Izaberite sliku</label> 
        
          <button mat-raised-button color="primary" class="btn-color" (click)="refresh()" >Učitaj sliku</button>
          </form>
        </th>
        <td>
            <button mat-raised-button color="primary" (click)="editMember()" class="btn-color"><mat-icon>edit</mat-icon>Promjeni podatke</button>
            <br><br>
			    	<button mat-raised-button color="primary" class="btn-color" (click)="deleteUser(user?.id)"><mat-icon>delete_forever</mat-icon> Izbriši profil</button>
        </td> 
    </tr>
    

	<tr>
		<th>Ime: </th>
		<td>{{user?.name}}</td>
	</tr>
	<tr>
		<th>Prezime:</th>
		<td>{{user?.lastName}}</td>
  </tr>
  <tr>
      <th>Član kluba: </th>
      <td></td>
  </tr>
	<tr>
		<th>Datum rođenja:</th>
		<td>{{user?.dateOfBirth | date:'dd.MM.yyyy.'}}</td>
  </tr>
  <tr>
		<th>Mjesto rođenja:</th>
		<td>{{user?.placeOfBirth}}</td>
	</tr>
	<tr>
		<th>Broj pasoša:</th>
		<td>{{user?.passportId}}</td>
	</tr>
	<tr>
		<th>Broj lične karte:</th>
		<td>{{user?.idNumber}}</td>
  </tr>
  <tr>
		<th>JMBG: </th>
		<td>{{user?.ssn}}</td>
	</tr>
	<tr>
		<th>Nacionalnost:</th>
		<td>{{user?.nationality}}</td>
	</tr>
	<tr>
		<th>Zanimanje:</th>
		<td>{{user?.occupation}}</td>
  </tr>
  <tr>
		<th>Krvna grupa:</th>
		<td>{{user?.bloodType}}</td>
  </tr>
  <tr>
		<th>Adresa:</th>
		<td>{{user?.address}}</td>
	</tr>
	<tr>
		<th>Telefon:</th>
		<td>{{user?.phoneNumber}}</td>
	</tr>
	<tr>
		<th>Email:</th>
		<td>{{user?.email}}</td>
	</tr>
</table>

</div>

<div class="col-3 col-s-12">
    <div class="aside">
     
  </div>
</div>
</div>   

</div>



    
