
<div>
<mat-list role="list"  >
        
    <mat-list-item role="listitem">Ime: {{user?.name}}</mat-list-item>
    <mat-list-item role="listitem">Prezime: {{user?.lastName}}</mat-list-item>
    <mat-list-item role="listitem">Datum rođenja: {{user?.dateOfBirth | date:'dd.MM.yyyy.'}}</mat-list-item>
    <mat-list-item role="listitem">Mjesto rođenja: {{user?.placeOfBirth}} </mat-list-item>
    <mat-list-item role="listitem">Broj pasoša: {{user?.passportId}}</mat-list-item>
    <mat-list-item role="listitem">Broj lične karte: {{user?.idNumber}}</mat-list-item>
    <mat-list-item role="listitem">JMBG: {{user?.ssn}}</mat-list-item>
    <mat-list-item role="listitem">Nacionalnost: {{user?.nationality}}</mat-list-item>
    <mat-list-item role="listitem">Zanimanje: {{user?.occupation}}</mat-list-item>
    <mat-list-item role="listitem">Krvna grupa: {{user?.bloodType}}</mat-list-item>
    <mat-list-item role="listitem">Adresa: {{user?.address}}</mat-list-item>
    <mat-list-item role="listitem">Telefon: {{user?.phoneNumber}}</mat-list-item>
    <mat-list-item role="listitem">Email: {{user?.email}}</mat-list-item>
  </mat-list>
</div>


 <!--*ngFor="let user of users" -->


<!--  
<div id = "our-team-section"> 

    
    <div id = "team-tile-container">

      <div id = "team-left-tile">

        <img class = "team-headshot" src = "https://res.cloudinary.com/zelcro/image/upload/v1487627737/Contact%20Card/person1.jpg">
        
        <div class = "team-name-bio">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore. </div>

        <div class = "team-name-banner"> First Person </div>

        <div class = "team-title-banner"> Job Title Here </div>

        <div class = "team-contact">
          
          <a href="mailto:someone@example.com"><img class = "email-tile" src="https://res.cloudinary.com/zelcro/image/upload/v1487627736/Contact%20Card/email.png"></a>

          <a href="tel:01010101010">	<img class = "phone-tile" src="https://res.cloudinary.com/zelcro/image/upload/v1487627737/Contact%20Card/phone.png"></a>
          </div>
      </div>

    -->