<!-- 
<div class="container">
       
        <mat-card class="card" >
      
                TO DO put image 

                <mat-card-content>
                        <mat-list role="list" class="list">
                        
                          <mat-list-item role="listitem" class="trip-name"> {{event?.tripName}}</mat-list-item>
                          <mat-list-item role="listitem">Datum: {{event?.tripDate | date:'dd.MM.yyyy.'}}</mat-list-item>
                          <mat-list-item role="listitem">Vrijeme okupljanja: {{event?.tripTime }}</mat-list-item>
                          <mat-list-item role="listitem">Vrijeme polaska: {{event?.departureTime }}</mat-list-item>
                          <mat-list-item role="listitem">Mjesto polaska: {{event?.location}}</mat-list-item>
                          <mat-list-item role="listitem">Opis: {{event?.description}}</mat-list-item>
                          <mat-list-item role="listitem">Dužina izleta: <img class="icon" src ={{event?.tripDuration}} matTooltip="Dužina izleta u danima" matTooltipPosition="above"></mat-list-item>
                          <mat-list-item role="listitem">Smještaj: <img class="icon" src ={{event?.accommodation}} matTooltip="Vrsta smještaja" matTooltipPosition="above"> </mat-list-item>
                          <mat-list-item role="listitem">Sezona: <img class="icon" src ={{event?.season}} matTooltip="Sezona: vidi Legendu" matTooltipPosition="above"> </mat-list-item>
                          <mat-list-item role="listitem">Teren/Težina: <img class="icon" src ={{event?.difficultyLevel}} matTooltip="Teren/Težina: vidi Legendu" matTooltipPosition="above"></mat-list-item>
                          <mat-list-item role="listitem">Oprema: <img class="icon" src ={{event?.equipment}} matTooltip="Vrsta opreme: vidi Legendu" matTooltipPosition="above"> </mat-list-item>
                          <mat-list-item role="listitem">Visina: {{event?.elevation}}</mat-list-item>
                          <mat-list-item role="listitem">Sati hoda: <img class="icon" src ={{event?.hours}} matTooltip="Sati hoda" matTooltipPosition="above"> </mat-list-item>
                          <mat-list-item role="listitem">Dužina staze: <img class="icon" src ={{event?.trailLength}} matTooltip="Dužina staze u kilometrima" matTooltipPosition="above"> </mat-list-item>
                          <mat-list-item role="listitem">Tip staze: <img class="icon" src ={{event?.trailType}} matTooltip="Tip staze: vidi Legendu" matTooltipPosition="above" > </mat-list-item>
                          <mat-list-item role="listitem">Vrsta terena: <img class="icon" src ={{event?.terrainType}} matTooltip="Vrsta terena: vidi Legendu" matTooltipPosition="above"> </mat-list-item>
                          <mat-list-item role="listitem">Cijena: {{event?.price}}</mat-list-item> 
                     
                        </mat-list>  
                          
                </mat-card-content>
              
            </mat-card>
       

       
</div>
-->

<!-- *ngFor="let event of events"  -->




<table>
        <tr>
                <th colspan="2" > <img src="https://www.zermatt.ch/extension/portal-zermatt/var/storage/images/media/bibliothek/aktivitaeten/sommer/bergsteigen-alpin-center-3/85043-3-ger-DE/Bergsteigen-Alpin-Center-3_grid_346x365.jpg" alt="Mountaineering2" class="img-responsive"> </th>
              
        </tr>
        <tr>
                <th colspan="2"  id="trip-name"> {{event?.tripName}} </th>
               
        </tr>
        <tr>
                <th colspan="2"  id="trip-date">{{event?.tripDate | date:'dd.MM.yyyy.'}}</th>
               
        </tr>
        <tr>
                <th>Vrijeme okupljanja: </th>
                <td>{{event?.tripTime }}</td>
        </tr>
        <tr>
                <th>Vrijeme polaska:</th>
                <td>{{event?.departureTime }}</td>
        </tr>
        <tr>
                <th>Mjesto polaska: </th>
                <td> {{event?.location}}</td>
        </tr>
        <tr>
                <th>Opis: </th>
                <td>{{event?.description}}</td>
        </tr>
        <tr>
                <th>Cijena:</th>
                <td>{{event?.price}}</td>
        </tr>
        <tr>
                <th>Visina:</th>
                <td>{{event?.elevation}}</td>
        </tr>
        <tr>
                <th colspan="2" >
                        <img class="icon" src ={{event?.tripDuration}} matTooltip="Dužina izleta u danima" matTooltipPosition="above"> 
                        <img class="icon" src ={{event?.accommodation}} matTooltip="Vrsta smještaja" matTooltipPosition="above">
                        <img class="icon" src ={{event?.season}} matTooltip="Sezona: vidi Legendu" matTooltipPosition="above"> 
                        <br>
                        <img class="icon" src ={{event?.difficultyLevel}} matTooltip="Teren/Težina: vidi Legendu" matTooltipPosition="above">
                        <img class="icon" src ={{event?.equipment}} matTooltip="Vrsta opreme: vidi Legendu" matTooltipPosition="above">
                        <img class="icon" src ={{event?.hours}} matTooltip="Sati hoda" matTooltipPosition="above">
                        <br>
                        <img class="icon" src ={{event?.trailLength}} matTooltip="Dužina staze u kilometrima" matTooltipPosition="above">
                        <img class="icon" src ={{event?.trailType}} matTooltip="Tip staze: vidi Legendu" matTooltipPosition="above">
                        <img class="icon" src ={{event?.terrainType}} matTooltip="Vrsta terena: vidi Legendu" matTooltipPosition="above"> 

                </th>
                
        </tr>

        <tr>
                <th colspan="2"> <button mat-raised-button color="primary" class="btn-legend" (click)="openLegend()">LEGENDA</button> </th>
        </tr>
      
</table>