<div id="background">

    <div class="row">
        <div class="col-3 col-s-3 menu"> 
        </div>

        <div class="col-6 col-s-9" >
  
    <div class="login-container">
       
<form [formGroup]="form" class="member-form" *ngIf="form">
       
    <h3>Promjeni podatke</h3>
    <mat-form-field>
      <input matInput placeholder="Ime" required formControlName="name" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Prezime" required formControlName="lastName" autocomplete="off" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Datum rođenja" type="date" formControlName="dateOfBirth" required
        autocomplete="off" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Mjesto rođenja" required formControlName="placeOfBirth" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Broj pasoša" formControlName="passportId" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Broj lične karte" formControlName="idNumber" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="JMBG" formControlName="ssn" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nacionalnost" formControlName="nationality" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Zanimanje" formControlName="occupation" autocomplete="off" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Krvna grupa</mat-label>
      <select matNativeControl formControlName="bloodType">
        <option value="" selected></option>
        <option value="A -">A -</option>
        <option value="A +">A +</option>
        <option value="AB">AB -</option>
        <option value="AB +">AB +</option>
        <option value="B -">B -</option>
        <option value="B +">B +</option>
        <option value="O -">O -</option>
        <option value="O +">O +</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Adresa" required formControlName="address" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" placeholder="Telefon" required formControlName="phoneNumber" autocomplete="off" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email: email@primjer.com" required type="email" formControlName="email"
        autocomplete="off" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="btn-color" type="submit" (click)="save(form)">Sačuvaj promjene</button>
    <br>
    <button mat-raised-button color="primary" class="btn-color" routerLink="/members"> Nazad
      </button>
    </form>

    </div>

  </div>

  <div class="col-3 col-s-12">
      <div class="aside">
       
    </div>
  </div>
</div>   

</div>
