<div id="background">

<div class="login-container">

    <form [formGroup]="form" class="member-form">
        <h3>Dodaj događaj</h3>
        <mat-form-field>
            <input matInput placeholder="Naziv" formControlName="tripName" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Datum" type="date" formControlName="tripDate" autocomplete="off" />
        </mat-form-field>    
        <mat-form-field>
            <input matInput placeholder="Vrijeme okupljanja" type="time" formControlName="tripTime" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Vrijeme polaska" type="time" formControlName="departureTime" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Mjesto polaska" formControlName="location" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Opis" type="text" formControlName="description" autocomplete="off"></textarea>
        </mat-form-field>
        
        <mat-form-field>
                <input matInput placeholder="Cijena" formControlName="price" autocomplete="off" />
         </mat-form-field>
        

        <mat-form-field>
            <mat-label>Dužina izleta</mat-label>
            <select matNativeControl formControlName="tripDuration">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Duzina_izleta/1dan.JPEG" >1 dan</option>
                <option value="/assets/img/Ikone/Duzina_izleta/2dana.JPEG">2 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/3dana.JPEG">3 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/4dana.JPEG">4 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/5dana.JPEG" >5 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/6dana.JPEG">6 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/7dana.JPEG">7 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/8dana.JPEG">8 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/9dana.JPEG">9 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/10dana.JPEG">10 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/11dana.JPEG">11 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/12dana.JPEG" >12 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/13dana.JPEG">13 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/14dana.JPEG">14 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/15dana.JPEG">15 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/16dana.JPEG">16 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/17dana.JPEG">17 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/18dana.JPEG">18 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/19dana.JPEG" >19 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/20dana.JPEG">20 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/21dan.JPEG">21 dan</option>
                <option value="/assets/img/Ikone/Duzina_izleta/22dana.JPEG">22 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/23dana.JPEG">23 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/24dana.JPEG">24 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/25dana.JPEG">25 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/26dana.JPEG" >26 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/27dana.JPEG">27 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/28dana.JPEG">28 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/29dana.JPEG">29 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/30dana.JPEG">30 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/31dan.JPEG">31 dan</option>
                <option value="/assets/img/Ikone/Duzina_izleta/32dana.JPEG">32 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/33dana.JPEG" >33 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/34dana.JPEG">34 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/35dana.JPEG">35 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/36dana.JPEG">36 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/37dana.JPEG">37 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/38dana.JPEG">38 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/39dana.JPEG">39 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/40dana.JPEG" >40 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/41dan.JPEG">41 dan</option>
                <option value="/assets/img/Ikone/Duzina_izleta/42dana.JPEG">42 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/43dana.JPEG">43 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/44dana.JPEG">44 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/45dana.JPEG">45 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/46dana.JPEG">46 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/47dana.JPEG" >47 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/48dana.JPEG">48 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/49dana.JPEG">49 dan</option>
                <option value="/assets/img/Ikone/Duzina_izleta/50dana.JPEG">50 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/51dan.JPEG">51 dan</option>
                <option value="/assets/img/Ikone/Duzina_izleta/52dana.JPEG">52 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/53dana.JPEG">53 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/54dana.JPEG" >54 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/55dana.JPEG">55 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/56dana.JPEG">56 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/57dana.JPEG">57 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/58dana.JPEG">58 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/59dana.JPEG" >59 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/60dana.JPEG">60 dana</option>
                <option value="/assets/img/Ikone/Duzina_izleta/61dan.JPEG">61 dan</option>
                <option value="/assets/img/Ikone/Duzina_izleta/62dana.JPEG">62 dana</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Smještaj</mat-label>
            <select matNativeControl formControlName="accommodation">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Spavanje/planinarski_dom.JPEG">Planinarski dom</option>
                <option value="/assets/img/Ikone/Spavanje/sator.JPEG">Šator</option>
                <option value="/assets/img/Ikone/Spavanje/hotel.JPEG">Hotel</option>
                <option value="/assets/img/Ikone/Spavanje/hostel.JPEG">Hostel</option>
                
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sezona</mat-label>
            <select matNativeControl formControlName="season">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Sezona/zima.JPEG">Zima</option>
                <option value="/assets/img/Ikone/Sezona/ljeto.JPEG">Ljeto</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Teren/Težina</mat-label>
            <select matNativeControl formControlName="difficultyLevel">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Teren-Tezina/lako.JPEG">Lako</option>
                <option value="/assets/img/Ikone/Teren-Tezina/srednje_tesko.JPEG">Srednje teško</option>
                <option value="/assets/img/Ikone/Teren-Tezina/tesko.JPEG">Teško</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Oprema</mat-label>
            <select matNativeControl formControlName="equipment">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Oprema/rekreativna.JPEG">Rekreativna</option>
                <option value="/assets/img/Ikone/Oprema/osnovna.JPEG">Osnovna</option>
                <option value="/assets/img/Ikone/Oprema/posebna.JPEG">Posebna</option>
            </select>
        </mat-form-field>

        <mat-form-field>
                <input matInput placeholder="Visina" formControlName="elevation" autocomplete="off" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sati</mat-label>
            <select matNativeControl formControlName="hours">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Sati/1h.JPEG">1h</option>
                <option value="/assets/img/Ikone/Sati/2h.JPEG">2h</option>
                <option value="/assets/img/Ikone/Sati/3h.JPEG">3h</option>
                <option value="/assets/img/Ikone/Sati/4h.JPEG">4h</option>
                <option value="/assets/img/Ikone/Sati/5h.JPEG">5h</option>
                <option value="/assets/img/Ikone/Sati/6h.JPEG">6h</option>
                <option value="/assets/img/Ikone/Sati/7h.JPEG">7h</option>
                <option value="/assets/img/Ikone/Sati/8h.JPEG">8h</option>
                <option value="/assets/img/Ikone/Sati/9h.JPEG">9h</option>
                <option value="/assets/img/Ikone/Sati/10h.JPEG">10h</option>
                <option value="/assets/img/Ikone/Sati/11h.JPEG">11h</option>
                <option value="/assets/img/Ikone/Sati/12h.JPEG">12h</option>
                <option value="/assets/img/Ikone/Sati/13h.JPEG">13h</option>
                <option value="/assets/img/Ikone/Sati/14h.JPEG">14h</option>
                <option value="/assets/img/Ikone/Sati/15h.JPEG">15h</option>
                <option value="/assets/img/Ikone/Sati/16h.JPEG">16h</option>
                <option value="/assets/img/Ikone/Sati/17h.JPEG">17h</option>
                <option value="/assets/img/Ikone/Sati/18h.JPEG">18h</option>
                <option value="/assets/img/Ikone/Sati/19h.JPEG">19h</option>
                <option value="/assets/img/Ikone/Sati/20h.JPEG">20h</option>
                <option value="/assets/img/Ikone/Sati/21h.JPEG">21h</option>
                <option value="/assets/img/Ikone/Sati/22h.JPEG">22h</option>
                <option value="/assets/img/Ikone/Sati/23h.JPEG">23h</option>
                <option value="/assets/img/Ikone/Sati/24h.JPEG">24h</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dužina</mat-label>
            <select matNativeControl formControlName="trailLength">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Duzina/1km.JPEG">1km</option>
                <option value="/assets/img/Ikone/Duzina/2km.JPEG">2km</option>
                <option value="/assets/img/Ikone/Duzina/3km.JPEG">3km</option>
                <option value="/assets/img/Ikone/Duzina/4km.JPEG">4km</option>
                <option value="/assets/img/Ikone/Duzina/5km.JPEG">5km</option>
                <option value="/assets/img/Ikone/Duzina/6km.JPEG">6km</option>
                <option value="/assets/img/Ikone/Duzina/7km.JPEG">7km</option>
                <option value="/assets/img/Ikone/Duzina/8km.JPEG">8km</option>
                <option value="/assets/img/Ikone/Duzina/9km.JPEG">9km</option>
                <option value="/assets/img/Ikone/Duzina/10km.JPEG">10km</option>
                <option value="/assets/img/Ikone/Duzina/11km.JPEG">11km</option>
                <option value="/assets/img/Ikone/Duzina/12km.JPEG">12km</option>
                <option value="/assets/img/Ikone/Duzina/13km.JPEG">13km</option>
                <option value="/assets/img/Ikone/Duzina/14km.JPEG">14km</option>
                <option value="/assets/img/Ikone/Duzina/15km.JPEG">15km</option>
                <option value="/assets/img/Ikone/Duzina/16km.JPEG">16km</option>
                <option value="/assets/img/Ikone/Duzina/17km.JPEG">17km</option>
                <option value="/assets/img/Ikone/Duzina/18km.JPEG">18km</option>
                <option value="/assets/img/Ikone/Duzina/19km.JPEG">19km</option>
                <option value="/assets/img/Ikone/Duzina/20km.JPEG">20km</option>
                <option value="/assets/img/Ikone/Duzina/21km.JPEG">21km</option>
                <option value="/assets/img/Ikone/Duzina/22km.JPEG">22km</option>
                <option value="/assets/img/Ikone/Duzina/23km.JPEG">23km</option>
                <option value="/assets/img/Ikone/Duzina/24km.JPEG">24km</option>
                <option value="/assets/img/Ikone/Duzina/25km.JPEG">25km</option>
                <option value="/assets/img/Ikone/Duzina/26km.JPEG">26km</option>
                <option value="/assets/img/Ikone/Duzina/27km.JPEG">27km</option>
                <option value="/assets/img/Ikone/Duzina/28km.JPEG">28km</option>
                <option value="/assets/img/Ikone/Duzina/29km.JPEG">29km</option>
                <option value="/assets/img/Ikone/Duzina/30km.JPEG">30km</option>
                <option value="/assets/img/Ikone/Duzina/31km.JPEG">31km</option>
                <option value="/assets/img/Ikone/Duzina/32km.JPEG">32km</option>
                <option value="/assets/img/Ikone/Duzina/33km.JPEG">33km</option>
                <option value="/assets/img/Ikone/Duzina/34km.JPEG">34km</option>
                <option value="/assets/img/Ikone/Duzina/35km.JPEG">35km</option>
                <option value="/assets/img/Ikone/Duzina/36km.JPEG">36km</option>
                <option value="/assets/img/Ikone/Duzina/37km.JPEG">37km</option>
                <option value="/assets/img/Ikone/Duzina/38km.JPEG">38km</option>
                <option value="/assets/img/Ikone/Duzina/39km.JPEG">39km</option>
                <option value="/assets/img/Ikone/Duzina/40km.JPEG">40km</option>
                <option value="/assets/img/Ikone/Duzina/41km.JPEG">41km</option>
                <option value="/assets/img/Ikone/Duzina/42km.JPEG">42km</option>
                <option value="/assets/img/Ikone/Duzina/43km.JPEG">43km</option>
                <option value="/assets/img/Ikone/Duzina/44km.JPEG">44km</option>
                <option value="/assets/img/Ikone/Duzina/45km.JPEG">45km</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tip staze</mat-label>
            <select matNativeControl formControlName="trailType">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Tip_staze/kruzna.JPEG">Kružna</option>
                <option value="/assets/img/Ikone/Tip_staze/povratna.JPEG">Povratna</option>
                <option value="/assets/img/Ikone/Tip_staze/jednosmjerna.JPEG">Jednosmjerna</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Vrsta terena</mat-label>
            <select matNativeControl formControlName="terrainType">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Vrsta_terena/kamen.JPEG">Kamen</option>
                <option value="/assets/img/Ikone/Vrsta_terena/livada.JPEG">Livada</option>
                <option value="/assets/img/Ikone/Vrsta_terena/suma.JPEG">Šuma</option>
                <option value="/assets/img/Ikone/Vrsta_terena/rijeka.JPEG">Rijeka</option>
            </select>
        </mat-form-field>

        <button mat-raised-button color="primary" class="btn-color" type="submit" [disabled]="form.invalid"
            (click)="save(form)">Pošalji</button>
        <br>
        <button mat-raised-button color="primary" class="btn-color" routerLink="/home"> Vrati se na Početnu
        </button>
    </form>
</div>
</div>
