<body>

<div class="login-container">

    <form [formGroup]="form" class="member-form">
        <h3>Dodaj događaj</h3>
        <mat-form-field>
            <input matInput placeholder="Naziv" formControlName="tripName" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Datum" type="date" formControlName="tripDate" autocomplete="off" />
        </mat-form-field>
        
        <!--  
        <mat-form-field>
            <input matInput placeholder="Vrijeme" type="time" formControlName="tripTime" autocomplete="off" />
        </mat-form-field>
    -->

        <mat-form-field>
            <input matInput placeholder="Vrijeme polaska" type="time" formControlName="departureTime" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Lokacija" formControlName="location" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Opis" type="text" formControlName="description" autocomplete="off"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dužina izleta</mat-label>
            <select matNativeControl formControlName="tripDuration">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Duzina_izleta/jednodnevni.JPEG">Jednodnevni</option>
                <option value="/assets/img/Ikone/Duzina_izleta/dvodnevni.JPEG">Dvodnevni</option>
                <option value="/assets/img/Ikone/Duzina_izleta/trodnevni.JPEG">Trodnevni</option>
                <option value="/assets/img/Ikone/Duzina_izleta/cetvorodnevni.JPEG">Četverodnevni</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Smještaj</mat-label>
            <select matNativeControl formControlName="accommodation">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Spavanje/planinarski_dom.JPEG">Planinarski dom</option>
                <option value="/assets/img/Ikone/Spavanje/sator.JPEG">Šator</option>
                <option value="/assets/img/Ikone/Spavanje/hotel.JPEG">Hotel</option>
                <option value="/assets/img/Ikone/Spavanje/hostel.JPEG">Hostel</option>
                
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sezona</mat-label>
            <select matNativeControl formControlName="season">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Sezona/zima.JPEG">Zima</option>
                <option value="/assets/img/Ikone/Sezona/ljeto.JPEG">Ljeto</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Teren/Težina</mat-label>
            <select matNativeControl formControlName="difficultyLevel">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Teren-Tezina/lako.JPEG">Lako</option>
                <option value="/assets/img/Ikone/Teren-Tezina/srednje_tesko.JPEG">Srednje teško</option>
                <option value="/assets/img/Ikone/Teren-Tezina/tesko.JPEG">Teško</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Oprema</mat-label>
            <select matNativeControl formControlName="equipment">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Oprema/rekreativna.JPEG">Rekreativna</option>
                <option value="/assets/img/Ikone/Oprema/osnovna.JPEG">Osnovna</option>
                <option value="/assets/img/Ikone/Oprema/posebna.JPEG">Posebna</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Visina</mat-label>
            <select matNativeControl formControlName="elevation">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Visina/visina1.JPEG">2368 mnv</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sati</mat-label>
            <select matNativeControl formControlName="hours">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Sati/sati.JPEG">12h</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dužina</mat-label>
            <select matNativeControl formControlName="trailLength">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Duzina/duzina.JPEG">30km</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tip staze</mat-label>
            <select matNativeControl formControlName="trailType">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Tip_staze/kruzna.JPEG">Kružna</option>
                <option value="/assets/img/Ikone/Tip_staze/povratna.JPEG">Povratna</option>
                <option value="/assets/img/Ikone/Tip_staze/jednosmjerna.JPEG">Jednosmjerna</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Vrsta terena</mat-label>
            <select matNativeControl formControlName="terrainType">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Vrsta_terena/kamen.JPEG">Kamen</option>
                <option value="/assets/img/Ikone/Vrsta_terena/livada.JPEG">Livada</option>
                <option value="/assets/img/Ikone/Vrsta_terena/suma.JPEG">Šuma</option>
                <option value="/assets/img/Ikone/Vrsta_terena/rijeka.JPEG">Rijeka</option>
            </select>
        </mat-form-field>


        <button mat-raised-button color="primary" class="btn-color" type="submit" [disabled]="form.invalid"
            (click)="save(form)">Pošalji</button>
        <br>
        <button mat-raised-button color="primary" class="btn-color" routerLink="/home"> Vrati se na Početnu
        </button>
    </form>
</div>
</body>
