<p>add-event works!</p>

<div class="login-container">

    <form [formGroup]="form" class="member-form">
        <h3>Dodaj događaj</h3>
        <mat-form-field>
            <input matInput placeholder="Naziv" formControlName="tripName" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Datum" type="date" formControlName="tripDate" autocomplete="off" />
        </mat-form-field>
        
        <!--  
        <mat-form-field>
            <input matInput placeholder="Vrijeme" type="time" formControlName="tripTime" autocomplete="off" />
        </mat-form-field>
    -->

        <mat-form-field>
            <input matInput placeholder="Vrijeme polaska" type="time" formControlName="departureTime" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Lokacija" formControlName="location" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Opis" formControlName="description" autocomplete="off" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dužina izleta</mat-label>
            <select matNativeControl formControlName="tripDuration">
                <option value="" selected></option>
                <option value="Jednodnevni">Jednodnevni</option>
                <option value="Dvodnevni">Dvodnevni</option>
                <option value="Trodnevni">Trodnevni</option>
                <option value="Četverodnevni">Četverodnevni</option>
                <option value="Petodnevni">Petodnevni</option>
                <option value="Šestodnevni">Šestodnevni</option>
                <option value="Sedmodnevni">Sedmodnevni</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Smještaj</mat-label>
            <select matNativeControl formControlName="accommodation">
                <option value="" selected></option>
                <option value="/assets/img/Ikone/Spavanje/planinarski_dom.JPEG">Planinarski dom</option>
                <option value="/assets/img/Ikone/Spavanje/sator.JPEG">Šator</option>
                <option value="/assets/img/Ikone/Spavanje/hotel.JPEG">Hotel</option>
                <option value="/assets/img/Ikone/Spavanje/hostel.JPEG">Hostel</option>
                
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sezona</mat-label>
            <select matNativeControl formControlName="season">
                <option value="" selected></option>
                <option value="Zima">Zima</option>
                <option value="Proljeće">Proljeće</option>
                <option value="Ljeto">Ljeto</option>
                <option value="Jesen">Jesen</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Teren/Težina</mat-label>
            <select matNativeControl formControlName="difficultyLevel">
                <option value="" selected></option>
                <option value="Lako">Lako</option>
                <option value="Srednje teško">Srednje teško</option>
                <option value="Teško">Teško</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Oprema</mat-label>
            <select matNativeControl formControlName="equipment">
                <option value="" selected></option>
                <option value="Rekreativna">Rekreativna</option>
                <option value="Osnovna">Osnovna</option>
                <option value="Posebna">Posebna</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Visina</mat-label>
            <select matNativeControl formControlName="elevation">
                <option value="" selected></option>
                <option value="2368 mnv">2368 mnv</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sati</mat-label>
            <select matNativeControl formControlName="hours">
                <option value="" selected></option>
                <option value="3h">3h</option>
                <option value="6h">6h</option>
                <option value="9h">9h</option>
                <option value="12h">12h</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dužina</mat-label>
            <select matNativeControl formControlName="trailLength">
                <option value="" selected></option>
                <option value="10km">10km</option>
                <option value="20km">20km</option>
                <option value="30km">30km</option>
                <option value="40km">40km</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tip staze</mat-label>
            <select matNativeControl formControlName="trailType">
                <option value="" selected></option>
                <option value="Kružna">Kružna</option>
                <option value="Povratna">Povratna</option>
                <option value="Jednosmjerna">Jednosmjerna</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Vrsta terena</mat-label>
            <select matNativeControl formControlName="terrainType">
                <option value="" selected></option>
                <option value="Kamen">Kamen</option>
                <option value="Livada">Livada</option>
                <option value="Šuma">Šuma</option>
                <option value="Rijeka">Rijeka</option>
            </select>
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"
            (click)="save(form)">Pošalji</button>
    </form>
</div>
