<div>
  
<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span><a href="/home"><img src="/assets/img/logo_trsw2.png" alt="logo"></a></span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a class="toolbar-button-menu" href="/home" mat-button>
            Početna
        </a>

        <a class="pointer" (click)="logout() ">Odjava</a>
     
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a href="#" mat-list-item>
          <mat-icon>home</mat-icon>
          Početna
        </a>

        <a href="#" mat-list-item (click)="logout()">
            <mat-icon>person</mat-icon>
            Odjava
          </a>

        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Zatvori
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill> 

      <router-outlet></router-outlet> 

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>