<div id="background">
    <div class="row">
        <div class="col-3 col-s-3 menu"> 
        </div>
      
        <div class="col-6 col-s-9" >
           <div class="card-style" >
            <mat-card >
                <mat-card-content class="center">
                    Vaš račun je aktivan. <br><br>
                    <button mat-raised-button color="primary" class="btn-color" routerLink="/home"> Vrati se na Početnu
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
        </div>
      
        <div class="col-3 col-s-12">
          <div class="aside">
           
        </div>
      </div>
    </div>
    