<!--  



<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css" />
<link href='https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans' rel='stylesheet' type='text/css'>
<nav>
  <ul id="header">
    <a href="/home" id="brand">
      <li>
         <img src="/assets/img/logo_trsw2.png" alt="logo">
      </li>
    </a>
    <label id="trigger2" for="x7"><i class="fa fa-bars"></i></label>
  </ul>
  <input type="checkbox" id="x7" />
  <ul id="main">
    <a href="/home">
      <li class="x1">
          Početna
      </li>
    </a>
   
    <a href="#" id="trigger">
      <li class="x1">
        Registracija&nbsp;
        <span id="caret"></span>
      </li>
    </a>
    <ul id="dropdown">
      <a href="/registration/club-form">
        <li>
          Kluba
        </li>
      </a>
      <a href="/registration/member-form">
        <li>
          Člana
        </li>
      </a>
    </ul>
  </ul>

     
      <a href="#" id="trigger">
          <li class="x1">
            Prijava&nbsp;
            <span id="caret"></span>
          </li>
        </a>
        <ul id="dropdown">
          <a href="/auth/login-club">
            <li>
              Kluba
            </li>
          </a>
          <a href="/auth">
            <li>
              Člana
            </li>
          </a>
    </ul>
</nav>
-->



<!--  
<nav>
    <div id="logo">
        <a href="/home"><img src="/assets/img/logo_trsw2.png" alt="logo"></a>
    </div>
    <label for="drop" class="toggle">Meni</label>
    <input type="checkbox" id="drop">
    <ul class="menu">
      <li><a href="/home">Početna</a></li>
      <li> 
        First Tier Drop Down 
        <label for="drop-1" class="toggle">Registracija&nbsp;</label>
        <a href="#">Registracija</a>
        <input type="checkbox" id="drop-1">
        <ul>
          <li><a href="/registration/club-form">Kluba</a></li>
          <li><a href="/registration/member-form">Člana</a></li>
        </ul>
      </li>
      <li> 
        
         First Tier Drop Down 
        <label for="drop-2" class="toggle">Prijava&nbsp;</label>
        <a href="#">Prijava</a>
        <input type="checkbox" id="drop-2">
        <ul>
          <li><a href="/auth/login-club">Kluba</a></li>
          <li><a href="/auth">Člana</a></li>
         
        </ul>
      </li>
     
    </ul>
  </nav>
-->


<div> 
  
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span><a href="/home"><img src="/assets/img/logo_trsw2.png" alt="logo"></a></span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a class="toolbar-button-menu" href="/home" mat-button>
            Početna
        </a>


      <button class="toolbar-button-menu" mat-button [matMenuTriggerFor]="beforeMenu">Registracija ▾ </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item  class="toolbar-button" routerLink="/registration/club-form">
        <mat-icon>group_add</mat-icon>
        Kluba
      </button>
      <button mat-menu-item  class="toolbar-button" routerLink="/registration/member-form">
        <mat-icon>person_add</mat-icon>
        Člana
      </button>
      </mat-menu>

      
        <button class="toolbar-button-menu" mat-button [matMenuTriggerFor]="belowMenu">Prijava ▾ </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item class="toolbar-button" routerLink="/auth/login-club">
          <mat-icon>people</mat-icon>
          Kluba
        </button>
        <button mat-menu-item class="toolbar-button" routerLink="/auth">
          <mat-icon>person</mat-icon>
          Člana
        </button>
        </mat-menu>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a href="#" mat-list-item>
          <mat-icon>home</mat-icon>
          Početna
        </a>
        <a href="/registration/club-form" mat-list-item>
          <mat-icon>group_add</mat-icon>
          Registracija kluba</a>
        <a href="/registration/member-form" mat-list-item>
          <mat-icon>person_add</mat-icon>
          Registracija člana
        </a>
        <a href="/auth/login-club" mat-list-item>
          <mat-icon>people</mat-icon>
          Prijava kluba
        </a>
        <a href="/auth" mat-list-item>
            <mat-icon>person</mat-icon>
            Prijava člana
          </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Zatvori
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill> 

      <router-outlet></router-outlet> 

    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>







