
<div id="background">
  
    <div class="login-container">
   
        <form [formGroup]="form" class="member-form" *ngIf="form">
          <h3>Prepravi podatke</h3>
          <mat-form-field>
            <input matInput placeholder="Ime kluba" formControlName="clubName" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <input matInput  placeholder="Predsjednik kluba" formControlName="clubPresident" autocomplete="off" />
          </mat-form-field>   
          <mat-form-field>
            <input matInput placeholder="Sekretar kluba" formControlName="clubSecretary" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Datum osnivanja" type="date" formControlName="foundedIn" autocomplete="off"   />
          </mat-form-field> 
          <mat-form-field>
            <textarea matInput placeholder="Vizija" type="text" formControlName="vision" autocomplete="off" ></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Misija" type="text" formControlName="mission" autocomplete="off" ></textarea>
          </mat-form-field>  
          <mat-form-field>
            <input matInput placeholder="Adresa" formControlName="address" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telefon" type="tel"  formControlName="phoneNumber" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="off" />
          </mat-form-field>
          
          <button mat-raised-button color="primary" class="btn-color" type="submit" (click)="save(form)">Sačuvaj promjene</button>
          <br>
          <button mat-raised-button color="primary" class="btn-color" routerLink="/clubs"> Nazad
            </button>
        </form>
      
      </div>

    </div>

    

