
<div id="background">
<div class="row">
    <div class="col-3 col-s-3 menu"> 
    </div>
  
    <div class="col-6 col-s-9" >
       <div class="card-style" >
        <mat-card >
            <mat-card-content class="center">
                Hvala Vam na registraciji. <br>
                Email je poslan na vašu adresu sa uputstvom kako da aktivirate Vaš račun. 
            </mat-card-content>
        </mat-card>
    </div>
    </div>
  
    <div class="col-3 col-s-12">
      <div class="aside">
       
    </div>
  </div>
</div>



  


