
<div class="row">

<div class="col-9 col-s-9">
<div class="main">

    <mat-card class="card" *ngFor="let event of events" >
      
        <img class="image" src="https://www.zermatt.ch/extension/portal-zermatt/var/storage/images/media/bibliothek/aktivitaeten/sommer/bergsteigen-alpin-center-3/85043-3-ger-DE/Bergsteigen-Alpin-Center-3_grid_346x365.jpg" alt="Mountaineering" width="20%" height="auto">
        <mat-card-content>
                <mat-list role="list" class="list">
                
                  <mat-list-item role="listitem" class="trip-name">Naziv: {{event?.tripName}}</mat-list-item>
                  <mat-list-item role="listitem">Datum: {{event?.tripDate | date:'dd.MM.yyyy.'}}</mat-list-item>
                  <mat-list-item role="listitem">Vrijeme polaska: {{event?.departureTime}}</mat-list-item>
                  <mat-list-item role="listitem">Lokacija: {{event?.location}}</mat-list-item>
                  <mat-list-item role="listitem" >Dužina izleta: <img class="img1" src ={{event?.tripDuration}} width="35px" height="auto"></mat-list-item>
                  <mat-list-item role="listitem" >Smještaj: <img class="img2" src ={{event?.accommodation}} width="35px" height="auto"> </mat-list-item>
                  <mat-list-item role="listitem" >Teren/Težina: <img class="img3" src ={{event?.difficultyLevel}} width="35px" height="auto"></mat-list-item>
             
                </mat-list>  
                  <button mat-raised-button color="primary" class="btn-color" routerLink="/home/event-info">Saznaj više</button>
        </mat-card-content>
      
    </mat-card>
 
</div>
</div>

<div class="col-3 col-s-12" >
<div class="aside" style="text-align: center">

    <app-weather></app-weather>
 
</div>
</div>

</div>




