<!--  
<div>
    <mat-list role="list" >
            
        <mat-list-item role="listitem">Ime kluba: {{club?.clubName}}</mat-list-item>
        <mat-list-item role="listitem">Predsjednik kluba: {{club?.clubPresident}}</mat-list-item>
        <mat-list-item role="listitem">Sekretar kluba: {{club?.clubSecretary}}</mat-list-item>
        <mat-list-item role="listitem">Datum osnivanja: {{club?.foundedIn | date:'dd.MM.yyyy.'}}</mat-list-item>
        <mat-list-item role="listitem">Vizija: {{club?.vision}} </mat-list-item>
        <mat-list-item role="listitem">Misija: {{club?.mission}}</mat-list-item>
        <mat-list-item role="listitem">Adresa: {{club?.address}}</mat-list-item>
        <mat-list-item role="listitem">Telefon: {{club?.phoneNumber}}</mat-list-item>
        <mat-list-item role="listitem">Email: {{club?.email}}</mat-list-item>
      </mat-list>
    </div>
    
    <br>

<button mat-raised-button color="primary" (click)="editClub()" class="btn-color">Prepravi podatke</button>

<br><br>
<button mat-raised-button color="primary" class="btn-color" routerLink="/clubs">Izbriši podatke</button>

<br><br>  
<button mat-raised-button color="primary" class="btn-color" routerLink="/clubs/event">Dodaj događaj</button>

-->

<!-- *ngFor="let club of clubs" -->

 
<div id="background">

		<div class="row">
				<div class="col-3 col-s-3 menu"> 
				</div>
						
			<div class="col-6 col-s-9" >  

<table>
    <tr>
        <th > <img src="http://localhost:8000/{{club?.thumbnail}}" alt="avatar" class="img-responsive">
        <br>
        
        <form #f="ngForm" (ngSubmit)="onSubmit(f,club?.id)">
          <input type="file" #fileupload [(ngModel)]="thumbnail" name="thumbnail" (change)="fileEvent($event)"/>
          <button>Upload Image</button>
          </form>
        </th>
        <td>
				<button mat-raised-button color="primary" (click)="editClub()" class="btn-color"><mat-icon>edit</mat-icon> Promjeni podatke</button>

				<br><br>
				<button mat-raised-button color="primary" class="btn-color" (click)="deleteClub(club?.id)" ><mat-icon>delete_forever</mat-icon> Izbriši profil</button>
				
				<br><br>  
				<button mat-raised-button color="primary" class="btn-color" routerLink="/clubs/event"><mat-icon>add</mat-icon> Dodaj događaj</button>	
		</td>
       
    </tr>
	<tr>
		<th>Ime kluba: </th>
		<td>{{club?.clubName}}</td>
	</tr>
	<tr>
		<th>Predsjednik kluba:</th>
		<td>{{club?.clubPresident}}</td>
	</tr>
	<tr>
		<th>Sekretar kluba:</th>
		<td>{{club?.clubSecretary}}</td>
  </tr>
  <tr>
		<th>Datum osnivanja:</th>
		<td>{{club?.foundedIn | date:'dd.MM.yyyy.'}}</td>
	</tr>
	<tr>
		<th>Vizija:</th>
		<td>{{club?.vision}} </td>
	</tr>
	<tr>
		<th>Misija:</th>
		<td>{{club?.mission}}</td>
  </tr>
  <tr>
		<th>Adresa:</th>
		<td>{{club?.address}}</td>
	</tr>
	<tr>
		<th>Telefon:</th>
		<td>{{club?.phoneNumber}}</td>
	</tr>
	<tr>
		<th>Email:</th>
		<td>{{club?.email}}</td>
  </tr>
  
</table>

</div>

<div class="col-3 col-s-12">
    <div class="aside">
     
  </div>
</div>
</div>   

</div>



